/* NAVBAR */
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: var(--navbar-height);
    font-weight: var(--font-weight-bold);
    border-bottom: 2px solid var(--clr-gray-light);
    padding:4rem 2rem ;
    

}

.navbar__end,
.navbar__start{
    gap: 3rem;
    display: flex;
    align-items: center;
}

.navbar__menu{
    display: inline-flex;
    gap: 2rem;
    list-style: none;
    height:100%;
}

.navbar__list{ height:100%; }

.navbar__link{
    text-decoration: none;
    height:100%;
    padding: var(--space-md);
    color: var(--clr-text);
    transition: var(--transition-fast);
}
.navbar__link:hover{
    border-bottom: 3px solid var(--clr-orange-main);
}

.navbar__search{
    height: var(--search-height);
    position: relative;
    display: flex;
}

.navbar__search-input{
    border: 1px solid var(--clr-gray-dark);
    border-radius: var(--radius-sm);
    font-size: 1.5rem;
    padding: 1.6rem 6rem 1.6rem 3.5rem;
    transition: var(--transition-med);
}
.navbar__search-input:focus{
    outline:none;
    box-shadow: 0 0 0 3px var(--clr-orange-focus);
}

.navbar__search-icon{
    position: absolute;
    color: #91989e;
    left: 1.5rem;
    top: 2rem;
    font-size: 1.5rem;
}

.button{
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--clr-text);
}


.button--login{
    display: inline-flex;
    height: 100%;
    transition: var(--transition-fast);
    padding: 2.1rem;
    border-bottom: 3px solid transparent;
}
.button--login:hover{ border-bottom: 3px solid var(--clr-orange-main); }

.button--signup{
    padding: .7rem 1.7rem;
    border-radius: var(--radius-full);
    background-color: var(--clr-orange-main);
    color: #fff;
    cursor: pointer;
    transition: var(--transition-fast);
}
.button--signup:hover{ background-color: var(--clr-orange-dark); }
.button--signup:active{ background-color: var(--clr-orange-darker); }